*{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
}

html,body{
Width:100%;
Height:100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
h1{
  color: red;
  font-size: 50px;  
}
h2{
    color: blue;
    font-size: 40px;  
}
h3{
    color: greenyellow;
    font-size: 30px;  
}